
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url(../img/cats.jpg);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

canvas{
    height: 10vh;
    width: 100vw;
}

table{
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 100%;
    margin: auto;

}

td{
    border: 1px solid #000000;
    padding: 5px;
}
/* lo de arriba */
thead{
    background-color: #37454d;
    color: #000000;
}
/*centro */
tbody{
    background-color: #adb4b8;
    color: #000000;
}
/* primera linea */
tbody td:first-child{
    background-color: #7796A8;
}
/* clases  */
#Class1{
    background-color: #cdecef;
    color: #000000;
}
#Class2 {
    background-color: #ceeccd;
    color: #000000;
}
#Class3 {
    background-color: #feffb3;
    color: #000000;
}
#Class4 {
    background-color: #eee7cc;
    color: #000000;
}
#Class5 {
    background-color: #dfd4ea;
    color: #000000;
}
#txt{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}