
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/* Tabla colores */

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    border: 1px solid #000000;
    margin: auto;
    width: 50%;
    height: 50%;

    top: 15%;

    right: 20%;
    left: 0%;
}
/* lo de arriba */
th,td {
    padding: 10px 20px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
}

thead{
    background-color: #37454d;
    color: #000000;
}
/*centro */
tbody{
    background-color: #b8b7ad;
    color: #000000;
}
/* primera linea */
tbody td:first-child{
    background-color: #7796A8;
}

#row_3 {
    background-color: rgb(16, 183, 27);
    color: #000000;
}

/* clases  */
#Class1{
    background-color: #cdecef;
    color: #000000;
}
#Class2 {
    background-color: #ceeccd;
    color: #000000;
}
#Class3 {
    background-color: #feffb3;
    color: #000000;
}
#Class4 {
    background-color: #eee7cc;
    color: #000000;
}
#Class5 {
    background-color: #dfd4ea;
    color: #000000;
}


/* canvas render */
#renderCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background: #000000;
}

#keyboardCanvas {
    display: none;
    background: #000000;
}

#mousematCanvas {
    display: none;
    background: #000000;
}

#nodeCanvas {
    display: none;
    background: #000000;
}