
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* personaje */

#Personaje {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/waifu.png);
    position: fixed;
    top: 5%;
    right: 0;
    left: 60%;
    height: 90%;
}

/* musica */

 canvas {
     transform: rotate(180deg);
     position: fixed;
     top: 10%;
     right: 0;
     left: 0%;
     height: 100%;
 }

 /* fondo */

.bg-image {
    background-color: blueviolet;
    /* The image used */
    background-image: url(./images/galaxia.jpg);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 60%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Tabla colores */

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    border: 1px solid #000000;
    margin: auto;
    width: 50%;
    height: 50%;

    top: 18%;

    right: 20%;
    left: 0%;
}
/* lo de arriba */
th,td {
    padding: 10px 20px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
}
/*arriba*/
thead{
    background-color: #37454d;
    color: #000000;
}
/*centro */
tbody{
    background-color: #b8b7ad;
    color: #000000;
}
/* primera columna */
tbody td:first-child{
    background-color: #7796A8;
}

/* clases  */
#Class1{
    background-color: #cdecef;
    color: #000000;
}
#Class2 {
    background-color: #ceeccd;
    color: #000000;
}
#Class3 {
    background-color: #feffb3;
    color: #000000;
}
#Class4 {
    background-color: #eee7cc;
    color: #000000;
}
#Class5 {
    background-color: #dfd4ea;
    color: #000000;
}
