.bg-image {
    background-color: blueviolet;

    /* Add the blur effect */
    /* -webkit-filter: blur(8px);
    filter: blur(8px); */
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}