.bg-image {
    background-color: blueviolet;
    /* The image used */
    background-image: url("../images/default-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    z-index: -1;
    filter: blur(8px);
}