/*clock contenedor*/
.container-clock {
    background-color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    color: #eee7cc;
    position: fixed;
    border-radius: 12px;
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    /* Definimos la animación */
    animation: cambio-margen 5s infinite;
}

/* Definimos la animación personalizada */
@keyframes cambio-margen {
    0% {
        box-shadow: 0 0 20px blueviolet, 0 0 20px blueviolet inset;
    }

    25% {
        box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0) inset;
    }

    50% {
        box-shadow: 0 0 20px rgb(0, 255, 0), 0 0 20px rgb(0, 255, 0) inset;
    }

    75% {
        box-shadow: 0 0 20px rgb(0, 0, 255), 0 0 20px rgb(0, 0, 255) inset;
    }

    100% {
        box-shadow: 0 0 20px blueviolet, 0 0 20px blueviolet inset;
    }
}

/*time*/
h1 {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

/* date */
p {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}